.normal {
  background-color: #a6a877;
  border: 2px solid #8e8c60;
}
.grass {
  background-color: #77c850;
  border: 2px solid #5e9e40;
}
.fire {
  background-color: #ee7f30;
  border: 2px solid #c56928;
}
.water {
  background-color: #678fee;
  border: 2px solid #4f74c0;
}
.electric {
  background-color: #f7cf2e;
  border: 2px solid #d6b42a;
}
.ice {
  background-color: #98d5d7;
  border: 2px solid #7db0b2;
}
.ground {
  background-color: #dfbf69;
  border: 2px solid #c1a45b;
}
.flying {
  background-color: #a98ff0;
  border: 2px solid #8b72c6;
}
.poison {
  background-color: #a040a0;
  border: 2px solid #803380;
}
.fighting {
  background-color: #bf3029;
  border: 2px solid #992623;
}
.psychic {
  background-color: #f65687;
  border: 2px solid #cf4a6e;
}
.dark {
  background-color: #725847;
  border: 2px solid #5c463b;
}
.rock {
  background-color: #b8a137;
  border: 2px solid #98862e;
}
.bug {
  background-color: #a8b720;
  border: 2px solid #87901a;
}
.ghost {
  background-color: #6e5896;
  border: 2px solid #574876;
}
.steel {
  background-color: #b9b7cf;
  border: 2px solid #9795aa;
}
.dragon {
  background-color: #6f38f6;
  border: 2px solid #582acc;
}
.fairy {
  background-color: #f9aec7;
  border: 2px solid #d088a0;
}
